<div class="outer">
  <div class="container">
    <div class="row">
      <div class="panel">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h2 class="pt-5 font-weight-bold">Welcom to Skill Swap</h2>
            <p class="pt-1 text-muted">Please enter your details</p>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="form-group">
                <div class="input-field">
                  <span class="fa fa-user fa-lg p-2"></span>
                  <input formControlName="username" type="text" placeholder="Username" autocomplete="current-username">
                </div>
              </div>
              <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                *Username is required
              </small>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock fa-lg p-2"></span>
                  <input formControlName="password" [type]="type" placeholder="Password"
                    autocomplete="current-password">
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                </div>
              </div>
              <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                *Password is required
              </small>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group pt-4">
                    <input type="checkbox" id="rememberMe" class="rememberMe  form-check-input fs-5">
                    <label for="rememberMe" class="label-agree-term ms-2">
                      <span> Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6 text-end">
                  <div class="form-inline mt-4">
                    <a id="forget" class="font-weight-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot
                      password?</a>
                  </div>
                </div>
              </div>

              <button (click)="onSubmit()" type="submit" class="btn btn-orange btn-block mt-4 w-100">Login</button>

              <!-- Google Login -->
              <div class="mt-3 center-div" id="buttonDiv"></div>

              <div class="text-center pt-5 text-muted account-text">
                Don't have an account? <a id="forget" routerLink="/signup">SignUp</a></div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">
                      <span style="font-size: 25px;font-weight:700">Forget your password?</span><br>
                      <small>Please provide your E-mail we will send the reset link</small>
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group pt-3">
                      <div class="input-field">
                        <span class="fa fa-user p-2"></span>
                        <input type="text" [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)"
                          placeholder="Email">
                      </div>
                    </div>
                    <br>
                    <small *ngIf="!resetPasswordEmail">
                      *Email is required
                    </small>
                    <small *ngIf="!isValidEmail && resetPasswordEmail">
                      *Email is invalid
                    </small>
                    <br>
                    <div class="modal-footer pt-3">
                      <button id="closeBtn" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-send">Send</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
