<app-navbar></app-navbar>

<div class="row no-gutters">
  <app-sidebar class="col-md-3 col-lg-2 d-md-block bg-light sidebar"></app-sidebar>
  <main class="col-md-9 col-lg-10 ">
    <div class="container">
      <div class="row">
        <div class="col-3 mt-4">
          <div class="list-group">

            <ng-container *ngFor="let profile of profiles">
              <a href="#" class="list-group-item list-group-item-action active"
                *ngIf="profile.userId !== authenticatedUser?.userId"
                (click)="selectUser(profile); $event.preventDefault()">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <img class="profile-image"
                      [src]="profile.imageUrl ? profile.imageUrl : 'https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg'">
                    <span class="username">{{profile.username}}</span>
                  </div>
                  <span class="badge badge-primary badge-pill unread-messages" *ngIf="profile.unreadMessageCount > 0">{{profile.unreadMessageCount}}</span>
                </div>
              </a>
            </ng-container>

          </div>
        </div>


        <section class="chat mt-4" *ngIf="selectedUser">
          <div class="header-chat">
            <i class="icon fa fa-user-o" aria-hidden="true"></i>
            <p class="name">{{selectedUser.username}}</p>
          </div>
          <div class="messages-chat mt-5" #messageContainer>
            <div class="message" *ngFor="let message of messages">
              <div class="profile">
                <img class="profile-image"
                  [src]="message.senderImageSafeUrl ? message.senderImageSafeUrl : 'https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg'"
                  alt="User Image">
                <p class="username-chat">{{message.senderUsername}}</p>
              </div>
              <div>
                <p class="text">{{message.messageText}}</p>
              </div>
              <div>
                <span class="timestamp" *ngIf="message.isEdited">edited</span>
                <p class="timestamp styled-element">{{message.timestamp | date:'short'}}
                </p>
              </div>

              <!-- Edit Icon -->
              <svg *ngIf="message.senderId == authenticatedUser?.userId" (click)="startEditingMessage(message)"
                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="33" height="33" viewBox="0,0,256,256">
                <g transform="translate(25.6,25.6) scale(0.8,0.8)">
                  <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none" style=" cursor: pointer;">
                    <g transform="translate(-32.0015,-21.33333) scale(10.66667,10.66667)">
                      <path
                        d="M18.41406,2c-0.25587,0 -0.51203,0.09747 -0.70703,0.29297l-1.70703,1.70703l4,4l1.70703,-1.70703c0.391,-0.391 0.391,-1.02406 0,-1.41406l-2.58594,-2.58594c-0.1955,-0.1955 -0.45116,-0.29297 -0.70703,-0.29297zM14.5,5.5l-11.5,11.5v4h4l11.5,-11.5z">
                      </path>
                    </g>
                  </g>
                </g>
              </svg>

              <!-- Delete Icon -->
              <svg *ngIf="message.senderId == authenticatedUser?.userId" (click)="deleteMessage(message.messageId)"
                xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
                style="cursor:pointer;" class="styled-element">
                <path
                  d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z"
                  fill="white"></path>
              </svg>

            </div>
          </div>

          <div class="footer-chat">
            <!-- <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i> -->
            <input #messageInput type="text" class="write-message" placeholder="Type your message here..."
              [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
            <i class="icon send fa fa-paper-plane-o clickable" (click)="sendMessage()" aria-hidden="true"></i>
          </div>
        </section>
      </div>
    </div>
  </main>
</div>
