.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.username {
  vertical-align: middle;
}

.message {
  margin-bottom: 10px;
}


.container {
  background-color: #5171c3;
  min-height: 100vh;
  padding: 20px;
}

.list-group {
  margin-bottom: 20px;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add hover effect */
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px; /* Add margin for spacing between image and username */
}

.username {
  color: #fff; /* Set text color to white */
}

.username:hover {
  text-decoration: none; /* Remove underline on hover */
  color: rgba(255, 255, 255, 0.8); /* Change text color on hover */
}


.styled-element {
  color: white;
  margin-bottom: 10px;
  margin-right: 15px;

}


.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

.chat {
  width: calc(70% - 80px);
}

.header-chat {
  border-radius: 5px;
  background-color: #FFF;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
  display:flex;
  align-items: center;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color:#fff;
  font-size: 14pt;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding: 25px 35px;
}

.chat .messages-chat .message {
  display:flex;
  align-items: center;
  margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #ffff;
  padding: 15px;
  border-radius: 12px;
}

.time {
  font-size: 10px;
  color:lightgrey;
  margin-bottom:10px;
  margin-left: 85px;
}

.footer-chat {
  width: calc(47% - 100px);
  height: 80px;
  display:flex;
  align-items: center;
  position:absolute;
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #EEE;
}

.chat .footer-chat .icon {
  margin-left: 30px;
  color:#C0C0C0;
  font-size: 14pt;
}

.chat .footer-chat .send {
  color:#060404;
  background-color: white;
  position: absolute;
  right: 20px;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 14pt;
}

.chat .footer-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 13pt;
  color:#515151;
}

.chat .footer-chat .right {
  position: absolute;
  right: 40px;
}

.write-message {
  border:none !important;
  width:80%;
  height: 50px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
}

