$white: #fff;
$light-grey: lightgrey;
$dark-grey: #515151;
$transparent: transparent;
$primary-color: #262730;
$secondary-color: rgba(255, 255, 255, 0.1);

@mixin reset-padding-margin {
  padding: 0;
  margin: 0;
}

@mixin center-flex {
  display: flex;
  align-items: center;
}

.container-fluid, .row, .app-sidebar, main, .container {
  @include reset-padding-margin;
}

.container {
  background-color: $primary-color;
  min-height: 100vh;
  min-width: 100vh;
}

.list-group-item {
  background-color: $transparent;
  border: none;

  &:hover {
    background-color: $secondary-color;
  }
}

.profile, .header-chat, .footer-chat {
  @include center-flex;
}


.profile-image, .chat .messages-chat .message .photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username, .username-chat {
  margin-left: 20px;
  margin-top: 5px;
  color: $white;
  vertical-align: center;

  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
  }
}

.username-chat {
  margin-left: 5px;
  margin-top: 5px;
  color: $white;
  vertical-align: center;
}


.styled-element {
  color: $white;
  margin-bottom: 10px;
  margin-right: 15px;
}

.chat {
  width: calc(65% - 115px);

  .header-chat, .footer-chat {
    border-radius: 10px;
    height: 60px;
    width: 720px;
    background-color: $white;

    .icon {
      margin-left: 12px;
      color: #535353;
      font-size: 14pt;
    }

    .name {
      margin: 0 0 0 10px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size: 13pt;
      color: $dark-grey;
    }

    .right {
      position: absolute;
      right: 40px;
    }
  }

  .messages-chat {
    height: 510px;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .message {
      @include center-flex;
    }

    .text {
      margin: 0 20px;
      background-color: $white;
      padding: 15px;
      border-radius: 12px;
      margin-bottom: 20px;
    }

    .timestamp {
      font-size: 12px;
      color: lightgrey;
    }

  }

  .footer-chat {
    bottom: 0;
    width: 44%;
    height: 80px;
    position: fixed;
    background-color: $transparent;
    left: 37vw;

    .send {
      color: #060404;
      background-color: $white;
      position: relative;
      padding: 20px;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}

.write-message {
  border: none !important;
  width: 80%;
  height: 60px;
  margin-left: 10px;
  padding: 20px;
  border-radius: 10px;
}

.unread-messages {
  color: $white;
  background-color: #ED8C02;
  border-radius: 100%;
  font-size: 12px;
  height: 22px;
  width: 20px;
  padding-right: 15px;
  padding-top: 5.5px;
  position: relative;
}

.relative-position {
  position: relative;
}

.emoji-mart-style {
  position: absolute;
  bottom: 150%;
  height: 520px;
  overflow: auto;
  background-color: #1b1c22;
  color: lightgray;
}

