<!-- <div class="col-md-6">
  <div class="md-6">
    <label for="uploadImage" class="form-label">Upload Image</label>
    <input #uploadImageRef type="file" class="form-control" placeholder="Choose file"
      (change)="onChange($event)" id="uploadImage" name="upload">

    <br>
    <label class="image-upload" for="fileupload">
      <img class="img-responsive img-thumbnail popupclass" [src]="imageUrl"></label>
  </div>
  <br>
  <button (click)="uploadImage()" class="btn btn-primary" [disabled]="!isImageChosen">Upload</button> |
  <button *ngIf="profileDetails.userId" (click)="removeImage()" class="btn btn-danger"
    [disabled]="!isImageUploaded">Remove</button>
</div> -->
