
.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.star-rating input {
  display: none;
}

.star-rating label {
  cursor: pointer;
  font-size: 24px;
  color: #777;
  margin: 0 5px;
}

.star-rating input:checked ~ label {
  color: #f8d320;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f8d320;
}

.btn {
  background-color: #ED8C02;
  border-color: #ED8C02;
  color: #fff;
  padding: 8px;
  display: block;
  margin: auto;
}

.rating-title {
  margin-top: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: #343a40;
}
