<div class="container my-5">
  <h4>Received requests</h4>
  <ng-container *ngIf="receivedSwapRequests && receivedSwapRequests.length > 0; else noReceivedRequests">
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th>Initiator Name</th>
          <th>Skill Offered</th>
          <th>Skill Requested</th>
          <th>Additional Details</th>
          <th>Status</th>
          <th>Receiver Details</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of receivedSwapRequests">
          <td>{{request.initiatorName}}</td>
          <td>{{request.skillOfferedName}}</td>
          <td>{{request.skillRequestedName}}</td>
          <td>{{request.details}}</td>
          <td>{{ getStatus(request.statusRequest) }}</td>
          <td><a [routerLink]="['/swap', request.skillOfferedId]">View</a></td>
          <td>
            <button (click)="acceptRequest(request)">Accept</button> |
            <button (click)="rejectRequest(request)">Reject</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noReceivedRequests>
    <p mt-4>No received requests found</p>
  </ng-template>
</div>

<br>

<div class="container my-5">
  <h4>Sent requests</h4>
  <ng-container *ngIf="sentSwapRequests && sentSwapRequests.length > 0; else noSentRequests">
    <table class="table table-striped mt-5">
      <thead>
        <tr>
          <th>Receiver Name</th>
          <th>Skill Offered</th>
          <th>Skill Requested</th>
          <th>Additional Details</th>
          <th>Status</th>
          <th>Reciever Details</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of sentSwapRequests">
          <td>{{request.receiverName}}</td>
          <td>{{request.skillOfferedName}}</td>
          <td>{{request.skillRequestedName}}</td>
          <td>{{request.details}}</td>
          <td>{{ getStatus(request.statusRequest) }}</td>
          <td><a [routerLink]="['/swap', request.skillRequestedId]">View</a></td>
          <td>
            <button [disabled]="request.statusRequest !== Status.Pending && request.statusRequest !== Status.Rejected"
              (click)="deleteRequest(request)">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noSentRequests>
    <p class="mt-3">No sent requests found</p>
  </ng-template>
</div>
