.delete-link {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.ban-link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.custom-modal .modal-dialog {
  max-width: 1000px;
}


