<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-md-3 col-lg-2 d-md-block bg-light sidebar"></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
          <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
          <div class=""></div>
        </div>
      </div>
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Dashboard</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-calendar align-text-bottom" aria-hidden="true">
              <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
              <line x1="16" y1="2" x2="16" y2="6"></line>
              <line x1="8" y1="2" x2="8" y2="6"></line>
              <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            This week
          </button>
        </div>
      </div>

      <ng-container *ngIf="role === 'Admin'">
        <h4 class="mt-4">Users list</h4><br>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userProfile of userProfiles | filter :searchText;">
                <td>{{userProfile.userId}}</td>
                <td>{{userProfile.username}}</td>
                <td>{{userProfile.email}}</td>
                <td><a style="text-decoration: none !important;" [routerLink]="['/profile/' + userProfile?.userId]">View
                  </a> |
                  <a class="delete-link" (click)="deleteProfile(userProfile.userId)"> Delete</a> |
                  <a class="ban-link" [class.banned]="userProfile.isSuspended"
                    (click)="toggleBan(userProfile)">{{userProfile.isSuspended ? 'Unban' : 'Ban'}}</a>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>


      <div *ngIf="role === 'User'">
        <h4 class="mt-4">Users skills</h4><br>
        <div class="table-responsive">
          <table class="table  table-striped" *ngIf="skillList && skillList.length > 0">
            <thead>
              <tr>
                <!-- <th scope="col">Id</th> -->
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Level</th>
                <th scope="col">Prerequisity</th>
                <!-- <th scope="col">Image</th> -->
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let skill of skillList | filter :searchText">
                <td>{{ skill.name }}</td>
                <td>{{ skill.description }}</td>
                <td>{{ skill.category }}</td>
                <td>{{ getLevel(skill.level) }}</td>
                <td>{{ skill.prerequisity }}</td>
                <!-- <td><img src="{{skill.skillImage}}" class="img-responsive img-thumbnail" style="width: 50px; height: 70px"></td> -->
                <td><a [routerLink]="['/swap', skill.skillId]">Veiw</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p *ngIf="!skillList || skillList.length <= 0 ">No skills found</p>

        <!-- <app-calendar></app-calendar> -->
      </div>
    </main>
  </div>
</div>
