<div class="modal-header">
  <h4 class="modal-title">Notifications</h4>
  <a (click)="deleteAllNotifications()" *ngIf="notificationList.length > 0" class="mark-read">Mark all as read</a>
</div>
<div class="modal-body mt-3">
  <div *ngFor="let notification of notificationList" class="notification-item">
    <div>
      <p class="notification-content">{{ notification.content }}</p>
      <p class="notification-date">{{ formatDateInTimeZone(notification.dateCreated ) }}</p>
    </div>
    <p (click)="viewNotification(notification)" class="view-notification">View</p>
  </div>
  <p *ngIf="notificationList.length === 0">You don't have any new notifications.</p>
</div>
<div class="modal-footer mt-3">
  <div class="footer-content">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
