.detail-item {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  color: #6c757d;
}

.detail-value {
  font-size: 18px;
  color: #343a40;
}


/* Add this CSS to your existing stylesheet or in a <style> tag in your HTML */
.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.star-rating input {
  display: none;
}

.star-rating label {
  cursor: pointer;
  font-size: 24px;
  color: #777;
  margin: 0 5px;
}

.star-rating input:checked ~ label {
  color: #f8d320; 
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #f8d320;
}

