<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-md-3 col-lg-2 d-md-block bg-light sidebar"></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <div class="row mt-5">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Skill information</h2>
              <div class="mb-3 detail-item">
                <label for="name" class="form-label detail-label">Name</label>
                <p id="name" class="detail-value">{{ skillDetails.name }}</p>
              </div>
              <div class="mb-3 detail-item">
                <label for="description" class="form-label detail-label">Description</label>
                <p id="description" class="detail-value">{{ skillDetails.description }}</p>
              </div>

              <div class="mb-3 detail-item">
                <label for="category" class="form-label detail-label">Category</label>
                <p id="category" class="detail-value">{{ skillDetails.category }}</p>
              </div>

              <div class="mb-3 detail-item">
                <label for="level" class="form-label detail-label">Level</label>
                <p id="level" class="detail-value">{{ getSkillLevelString(skillDetails.level) }}</p>
              </div>

              <div class="mb-3 detail-item">
                <label for="prerequisites" class="form-label detail-label">Prerequisity</label>
                <p id="prerequisites" class="detail-value">{{ skillDetails.prerequisity }}</p>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">User information</h2>

              <div class="mb-3 detail-item">
                <label for="fullName" class="form-label detail-label">Full Name</label>
                <p id="fullName" class="detail-value">{{ userProfile.fullName }}</p>
              </div>

              <div class="mb-3 detail-item">
                <label for="bio" class="form-label detail-label">Bio</label>
                <p id="bio" class="detail-value">{{ userProfile.bio }}</p>
              </div>

              <div class="mb-3 detail-item">
                <label for="skillInterested" class="form-label detail-label">Skills Interested</label>
                <p id="skillInterested" class="detail-value">{{ userProfile.skillInterested }}</p>
              </div>

              <div class="mb-3 detail-item">
                <div class="form-label detail-label">
                  <label for="skillInterested">User Image</label>
                </div>
                <div>
                  <img [src]="imageUrl" class="img-responsive img-thumbnail" style="width: auto; height: 113px;">
                </div>
              </div>

              <button class="btn" *ngIf="!isOwnSkill()"
                style="background-color: #ED8C02; border-color: #ED8C02; color: #fff; padding: 8px; margin-right: 10px;"
                (click)="open()">Request for Swap</button>
              <button *ngIf="!isOwnSkill()" type="submit" class="btn" (click)="navigateToChat(userProfile.userId)"
                style="background-color: #5171c3; border-color: #5171c3; color: #fff; padding: 8px;">Send
                Message</button>
            </div>
          </div>
        </div>
      </div>
      <app-review></app-review>
    </main>
  </div>
</div>
