<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidebar [class.side-mode]="themeService.isDarkMode()" [class.sidebar-shrinked]="isSidebarShrinked"
    class="col-md-3 col-lg-2 d-md-block bg-light sidebar"></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="py-4 text-center">
        <h2 class="mb-1 mt-4">Premium Options</h2>
      </div>
      <div class="container mb-2">
        <div class="row justify-content-md-center mb-2">
          <div class="card card-pricing text-center px-3 mb-1 w-50" [class.premium-mode]="themeService.isDarkMode()"
            *ngIf="$premium|async as premium">
            <span
              class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">{{premium.name}}</span>
            <div class="bg-transparent card-header pt-2 border-0">
              <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15"><span
                  class="price">{{premium.price}}</span><span class="h6 text-muted ml-2"> per month</span></h1>
            </div>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="card-body pt-0">
              <ul class="list-unstyled mb-2" *ngFor="let feature of premium.features">
                <li>{{feature}}</li>
              </ul>
              <input type="hidden" class="form-control" name="priceId" [ngModel]="premium.priceId" #premiumId="ngModel">
              <button type="submit" class="btn button-style mt-2">
                Order now</button>
            </form>
          </div>

          <p class="lead text-center mt-4" *ngIf="isLoggedIn()">
            <button class="btn btn-outline-secondary" role="button" (click)="goToBillingPortal()">
              Temporary Billing Portal Button
            </button>
          </p>

        </div>
      </div>
      <h5>Dark Mode</h5>
      <app-theme-toggle></app-theme-toggle>

    </main>

  </div>
</div>
