<div class="container my-5">
  <h1 class="mb-3">Create new skill</h1>

  <div class="row">
    <div class="col-5">

      <form #form="ngForm" (ngSubmit)="addSkill()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name"
          name="name" [(ngModel)] = "addSkillRequest.name">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description"
          name="description" [(ngModel)] = "addSkillRequest.description">
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input type="text" class="form-control" id="category"
          name="category" [(ngModel)] ="addSkillRequest.category">
        </div>
        <div class="mb-3">
          <label for="level" class="form-label">Level</label>
          <input type="text" class="form-control" id="level"
          name="level" [(ngModel)] ="addSkillRequest.level">
        </div>
        <div class="mb-3">
          <label for="prerequisity" class="form-label">Prerequisity</label>
          <input type="text" class="form-control" id="prerequisites"
          name="prerequisity" [(ngModel)] ="addSkillRequest.prerequisity">
        </div>
        <div class="mb-3">
          <label for="picture" class="form-label">Picture</label>
          <input type="text" class="form-control" id="picture"
          name="picture" [(ngModel)]="addSkillRequest.picture">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>
