
<body>
        <iframe class= "mt-3" src="https://calendar.google.com/calendar/embed?src=YOUR_CALENDAR_ID" style="border: 0" width="500" height="300" frameborder="0" scrolling="no"></iframe>

        <h2>Google Meet</h2>
        <button style="background-color: #ED8C02; border-color: #ED8C02; color: #fff; border-style: none;" (click)="createEvent()">Create meet event</button>

    <script>
        document.getElementById('create-meet').addEventListener('click', function() {
        });
    </script>
</body>

