<div class="container">
  <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=YOUR_CALENDAR_ID"></iframe>

  <h6 class="mt-2">Google Meet</h6>
  <a id="create-meet" class="btn meet-btn" href="https://meet.google.com/?pli=1" target="_blank">
   Create a Google meet
  </a>
  <button type="button" class="btn close-btn" (click)="activeModal.close('Close click')">Close</button>
</div>

<script>
  document.getElementById('create-meet').addEventListener('click', function () {
  });
</script>
