<div class="outer">
  <div class="container">
    <div class="row">
      <div class="panel">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h2 class="pt-5 font-weight-bold">Welcom to Skill Swap</h2>
            <p class="pt-1 text-muted">Please enter your details</p>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm">
              <div class="form-group">
                <div class="input-field">
                  <span class="fa fa-user fa-lg p-2"></span>
                  <input formControlName="username" type="text" placeholder="Username">
                </div>
              </div>
              <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                *Username is required
              </small>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock fa-lg p-2"></span>
                  <input formControlName="password" [type]="type" placeholder="Password">
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                </div>
              </div>
              <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                *Password is required
              </small>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group pt-4">
                    <input type="checkbox" id="rememberMe" class="rememberMe  form-check-input fs-5">
                    <label for="rememberMe" class="label-agree-term ms-2">
                      <span> Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6 text-end">
                  <div class="form-inline mt-4">
                    <a id="forget" class="font-weight-bold">Forgot password?</a>
                  </div>
                </div>
              </div>

              <button (click)="onSubmit()" type="submit" class="btn btn-orange btn-block mt-4 w-100">Login</button>
              <button type="submit" class="btn btn-white btn-block mt-4 w-100 text-muted">
                <a href="http://www.google.com" target="_blank">
                  <img src="https://static.cdnlogo.com/logos/g/38/google-icon.svg" class="google-icon"
                    alt="Google Icon">
                </a>
                Sign in with Google
              </button>
              <div class="text-center pt-4 text-muted account-text">Don't have an account? <a id="forget"
                  routerLink="/signup">Sign
                  Up</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
