<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-md-3 col-lg-2 d-md-block bg-light sidebar"></app-sidebar>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <h3 class="mb-3 mt-5">User profile</h3>
      <br>
      <div class="row">
        <div class="col-md-6">

          <form #form="ngForm" (ngSubmit)="updateProfile()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" disabled="true"
                [(ngModel)]="profileDetails.username">
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Email</label>
              <input type="text" class="form-control" id="username" name="username" disabled="true"
                [(ngModel)]="profileDetails.email">
            </div>
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="fullName" name="fullName"
                [(ngModel)]="profileDetails.fullName">
            </div>
            <div class="mb-3">
              <label for="bio" class="form-label">Bio</label>
              <input type="text" class="form-control" id="bio" name="bio" [(ngModel)]="profileDetails.bio">
            </div>
            <div class="mb-3">
              <label for="skillInterested" class="form-label">Skills Interested</label>
              <input type="text" class="form-control" id="skillInterested" name="skillInterested"
                [(ngModel)]="profileDetails.skillInterested">
            </div>
            <br>
            <button class="btn btn-primary">Update</button>
          </form>

        </div>

        <div class="col-md-6">
          <div class="md-6">
            <label for="uploadImage" class="form-label">Upload Image</label>
            <input #uploadImageRef type="file" class="form-control" placeholder="Choose file"
              (change)="onChange($event)" id="uploadImage" name="upload">

            <br>
            <label class="image-upload" for="fileupload">
              <img class="img-responsive img-thumbnail popupclass" [src]="imageUrl"></label>
          </div>
          <br>
          <button (click)="uploadImage()" class="btn btn-primary mt-3" [disabled]="!isImageChosen">Upload</button> |
          <button *ngIf="profileDetails.userId" (click)="removeImage()" class="btn btn-danger mt-3"
            [disabled]="!isImageUploaded">Remove</button>
        </div>
      </div>
    </main>
  </div>
</div>
