<div class="container my-5">
  <h1 class="mb-3">User profile</h1>

  <div class="row">
    <div class="col-5">

      <form #form="ngForm">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="profileDetails.username">
        </div>
        <div class="mb-3">
          <label for="fullname" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="profileDetails.fullname">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="profileDetails.email">
        </div>
        <div class="mb-3">
          <label for="bio" class="form-label">Bio</label>
          <input type="text" class="form-control" id="bio" name="bio" [(ngModel)]="profileDetails.bio">
        </div>
        <div class="mb-3">
          <label for="skillsInterested" class="form-label">Skill Interested</label>
          <input type="text" class="form-control" id="skillsInterested" name="skillsInterested"
            [(ngModel)]="profileDetails.skillsInterested">
        </div>
        <!-- <div class="mb-3">
          <label for="picture" class="form-label">Picture</label>
          <input type="text" class="form-control" id="picture" name="picture" [(ngModel)]="profileDetails.picture">
        </div> -->
          <div class="md-3">
            <label for="uploadImage" class="form-label">Upload Image</label>
            <!-- <input type="file" class="form-control" placeholder="Choose file" (change)="onchange($event)" id="uploadImage" name="upload"> -->
            <br>
            <img class="img-responsive img-thumbnail popupclass" [src]="profileImage">
          </div>
          <br>
          <button class="btn btn-primary" (click)="updateProfile()">Update Profile</button>

          <!-- <div class="upload">
            <span class="upload" *ngIf = "progress > 0">
              {{progress}}%
            </span>
            <span class="upload" *ngIf = "message">
              {{message}}
            </span>
          </div> -->

      </form>

    </div>
  </div>
</div>
