.popupclass{
  height: 400px;
}

.image-upload {
  width: 100%;
}

.img-responsive.img-thumbnail.popupclass {
  width: auto;
  height: 320px;
}

.side-mode {
  background-color: rgb(52 53 64) !important;
}


