<!-- <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="background-color: #11111F !important;">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Hello <h3>{{username}}</h3></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
    aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a style="background: red;
          color: #fff;
          border-radius: 4px;
          margin: 10px;" class="nav-link px-3 cursor-pointer" (click)="logout()">Sign out</a>
    </div>
  </div>
</header> -->
<!-- <header class="navbar navbar-dark sticky-top bg-dark h-20 flex-md-nowrap p-0 shadow" style="background-color: #11111F !important;">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-5 logo" href="/dashboard">
    SKILL SWAP
  </a>
  <input class="form-control form-control-dark w-50 border-0" type="text" placeholder="Search" aria-label="Search">

  <div class="navbar-nav">
    <div class="nav-item dropdown text-nowrap">
      <a class="nav-link px-3 cursor-pointer" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Hello, {{username}}
      </a>
      <ul class="dropdown-menu" aria-labelledby="profileDropdown">
        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
        <li><a class="dropdown-item" href="#">View Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
      </ul>
    </div>
  </div>
</header> -->

<nav style="background-color: #1b1c22;" class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-5 logo" [routerLink]="['/dashboard', userId]">
    SKILL SWAP
  </a>

  <form class="form-inline my-2 my-lg-0 mx-auto" >
    <input class="form-control mr-sm-2 w-100  rounded-0 border-0" type="search" [(ngModel)]="searchText"
    [ngModelOptions]="{ standalone: true }" placeholder="Search" aria-label="Search" (input)="appService.changeSearchText(searchText)">
  </form>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard', userId]">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link px-3 cursor-pointer" id="profileDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Hello, {{username}}
        </a>
        <ul class="dropdown-menu dropdown-menu-end cursor-pointer" aria-labelledby="profileDropdown">
          <ng-container *ngFor="let userProfile of userProfiles">
            <li><a *ngIf="role === 'User'" class="dropdown-item" [routerLink]="['/profile/' + userProfile?.userId]">View
                Profile</a></li>
          </ng-container>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sign out</a></li>
        </ul>
      </li>
    </ul>

    <img *ngIf="imageUrl" [src]="imageUrl" class="navbar-img">
  </div>
</nav>

