/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.min.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Dark Theme Styles */
.dark-theme {
  background-color: #262730;
  color: rgb(248, 249, 250);
}


